--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cities; Type: TABLE; Schema: public; Owner: ludy
--

CREATE TABLE public.cities (
    city_id integer NOT NULL,
    city_name character varying(255) DEFAULT NULL::character varying,
    prov_id integer
);


ALTER TABLE public.cities OWNER TO ludy;

--
-- Name: districts; Type: TABLE; Schema: public; Owner: ludy
--

CREATE TABLE public.districts (
    dis_id integer NOT NULL,
    dis_name character varying(255) DEFAULT NULL::character varying,
    city_id integer
);


ALTER TABLE public.districts OWNER TO ludy;

--
-- Name: provinces; Type: TABLE; Schema: public; Owner: ludy
--

CREATE TABLE public.provinces (
    prov_id integer NOT NULL,
    prov_name character varying(255) DEFAULT NULL::character varying,
    locationid integer DEFAULT 1,
    status integer DEFAULT 1
);


ALTER TABLE public.provinces OWNER TO ludy;

--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: ludy
--



--
-- Data for Name: districts; Type: TABLE DATA; Schema: public; Owner: ludy
--



--
-- Data for Name: provinces; Type: TABLE DATA; Schema: public; Owner: ludy
--



--
-- Name: cities cities_pkey; Type: CONSTRAINT; Schema: public; Owner: ludy
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_pkey PRIMARY KEY (city_id);


--
-- Name: districts districts_pkey; Type: CONSTRAINT; Schema: public; Owner: ludy
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_pkey PRIMARY KEY (dis_id);


--
-- Name: provinces provinces_pkey; Type: CONSTRAINT; Schema: public; Owner: ludy
--

ALTER TABLE ONLY public.provinces
    ADD CONSTRAINT provinces_pkey PRIMARY KEY (prov_id);


--
-- Name: cities cities_prov_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ludy
--

ALTER TABLE ONLY public.cities
    ADD CONSTRAINT cities_prov_id_fkey FOREIGN KEY (prov_id) REFERENCES public.provinces(prov_id) ON DELETE CASCADE;


--
-- Name: districts districts_city_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ludy
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_city_id_fkey FOREIGN KEY (city_id) REFERENCES public.cities(city_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

